<form class="form" [formGroup]="interviewForm" (ngSubmit)="submitForm()">
  <h2 class="form__label font__title">_Trabalhe conosco</h2>

  <div class="form__group">
    <div class="form__group--border-radius">
      <div class="form__input__group">
        <app-input-field
          [id]="'input-first-name'"
          name="first-name"
          type="text"
          label="Nome"
          placeholder="Nome"
          autocomplete="name"
          [control]="interviewForm.controls.firstName"
        />
        <app-input-field
          [id]="'input-last-name'"
          name="last-name"
          type="text"
          label="Sobrenome"
          placeholder="Sobrenome"
          autocomplete="family-name"
          [control]="interviewForm.controls.lastName"
        />
      </div>

      <div class="form__select__group">
        <app-select-field
          [id]="'select-vecancy'"
          name="vecancy"
          label="Vaga"
          placeholder="Selecione a vaga"
          [values]="selectVecancyValues"
          [control]="interviewForm.controls.vecancy"
        />
        <app-select-field
          [id]="'select-level'"
          name="level"
          label="Nível"
          placeholder="Nvl"
          [values]="selectLevelValues"
          [control]="interviewForm.controls.level"
        />
      </div>

      <div class="form__textarea__group">
        <app-textarea-field
          [id]="'textarea-message'"
          name="message"
          label="Mensagem"
          placeholder="Fale um pouco sobre você..."
          [control]="interviewForm.controls.message"
        />
      </div>
    </div>

    <div class="form__button__group">
      <app-button-submit [valid]="!interviewForm.valid" />
    </div>
  </div>
</form>
