.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;

  padding: 24px;

  border-radius: 20px;
  background-color: var(--primary-color);
}
.form__label {
  margin-bottom: 12px;
  color: var(--text-heading-light);
}
.form__group {
  display: grid;
  gap: 20px;
}
.form__group--border-radius {
  display: grid;
  gap: 20px;

  border-radius: 12px;
  overflow: hidden;
}
.form__input__group,
.form__select__group {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
.form__button__group {
  justify-self: center;
}
.form__error {
  font-family: 'Roboto', sans-serif;
  font-size: 0.75rem;
  line-height: 1;
  color: #fff;
}
.form__textarea__group {
  display: grid;
  * {
    height: 100px;
  }
}
@media (width >= 640px) {
  .form__input__group {
    grid-template-columns: 1fr 1fr;
  }
  .form__select__group {
    grid-template-columns: 1.5fr 0.5fr;
  }
}
