.textarea-field {
  padding: 12px;
  border: none;
  outline: none;
  resize: none;
  margin: 0;
  color: var(--text-body);
  transition: box-shadow 0.2s ease;

  &:focus {
    box-shadow: var(--form-fields-focus);
  }
}
.textarea-field::placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: clamp(0.875rem, 2vw, 1rem);
  line-height: 1.25;
  color: var(--text-placeholder);
}
