.input-field {
  padding: 12px;
  border: none;
  outline: none;
  color: var(--text-body);

  &:focus {
    box-shadow: var(--form-fields-focus);
  }
}
.input-field::placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: clamp(0.875rem, 2vw, 1rem);
  line-height: 1;
  color: var(--text-placeholder);
}
