main {
  width: 100%;
  min-height: 100svh;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 20px;

  background-color: var(--bg-color);
}
section {
  flex: 1;
  max-width: 504px;
}
