.select-field {
  padding: 12px;
  border: none;
  outline: none;
  background-color: var(--bg-light);
  color: var(--text-body);

  &:focus {
    box-shadow: var(--form-fields-focus);
  }
}
option {
  font-family: 'Roboto', sans-serif;
  font-size: clamp(0.875rem, 2vw, 1rem);
  line-height: 1;
  color: var(--text-body);
}
.select-field:invalid,
option:disabled {
  color: var(--text-placeholder);
}
