.form__select {
  padding: 12px;

  color: var(--text-body);

  border: none;
  outline: none;

  background-color: var(--bg-light);
  transition: box-shadow 0.2s ease;

  &:focus {
    box-shadow: var(--form-fields-focus);
  }
}
.form__select__option {
  color: var(--text-body);
}
.form__select:invalid,
.form__select__option--disabled:disabled {
  color: var(--text-placeholder);
}
