.form__button {
  padding: 20px 40px;

  font-weight: 700;
  color: var(--text-heading-light);

  outline: none;
  border: none;
  border-radius: 10px;

  background-color: var(--secondary-color);

  cursor: pointer;
  transition: 0.2s ease;

  &:hover,
  &:focus {
    color: var(--primary-color);
    background-color: var(--bg-light);
  }
  &:focus {
    outline: 2px solid var(--bg-color);
  }
}
.form__button:disabled {
  color: var(--text-placeholder);
  background-color: var(--bg-disabled);

  pointer-events: none;
}
