.button-submit {
  font-weight: 700;
  padding: 20px 40px;
  outline: none;

  border: none;
  border-radius: 10px;

  color: var(--text-heading-light);
  background-color: var(--secondary-color);

  cursor: pointer;
  transition: 0.2s ease;

  &:hover,
  &:focus {
    color: var(--primary-color);
    background-color: var(--bg-light);
  }
  &:focus {
    outline: 2px solid var(--bg-color);
  }
}
