/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/roboto-v50-latin-900.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/roboto-v50-latin-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/roboto-v50-latin-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --primary-color: #f77102;
  --secondary-color: #150183;

  --bg-color: #f79c5f;
  --bg-light: #ffffff;
  --bg-dark: #000000;
  --text-body: #4c4c4c;
  --text-heading-light: #ffffff;
  --text-heading-dark: #000000;
  --text-placeholder: #757575;

  --form-fields-focus: 0px -20px 0px -16px var(--bg-color) inset;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}
input,
select,
textarea {
  width: 100%;
}

.font__body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: clamp(0.875rem, 2vw, 1rem);
  line-height: 1.25;
}
.font__title {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: clamp(1.75rem, 4vw, 2.25rem);
  line-height: 1;
}
.sr__only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
